.header {
    font-family: $montserrat-black;
}

.navbar {
    font-family: $raleway;
}

.navbar-brand {
    font-family: $raleway-black;
}

.collapse {
    font-size: 16px;
}

.footer {
    font-family: $raleway;
    color: $white;
    background-color: $blue;
    padding: 10px;
}

.body {
    font-family: $raleway;
    text-align: justify;
}