//Fonts
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.ttf');
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$raleway: 'Raleway-Regular';
$raleway-black: 'Raleway-Black';
$montserrat: 'Montserrat-Regular';
$montserrat-black: 'Montserrat-Black';

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
